<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landpage.css">
    <title>Za3amah links</title>
</head>

<body>
<video autoplay muted loop playsinline loop class="background-video">
    <source src="/img/background2.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
    <div id="loading" class="loading-page">
        <h1>silence isn't a weakness</h1>
    </div>
    <div id="information" class="container">
        <div class="information">
            <div class="info-user">
                <img src="/img/profile.jpg" alt="">
                <div class="name">
                    <h1 id="particle">Za3amah official</h1>
                    <h2 id="typing"></h2>
                    <p>js Chilling</p>
                </div>
            </div>
     <div class="links">

            <a href="https://tiktok.com/@khaledtarek.king" target="_blank">
                <i class="fa-brands fa-tiktok"></i>
            </a>

            <a href="https://open.spotify.com/user/31i3mmquwipyn5ajkcytby75dkva" target="_blank">
                <i class="fa-brands fa-spotify"></i>
            </a>

            <a href="https://www.instagram.com/9lle9i?igsh=MTI4eWV3bXM1ajcyag==" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
             <a href="https://discord.gg/YRpqjHWWGR" target="_blank">
                <i class="fa-brands fa-discord"></i>
            </a>
             <a href="https://wa.me/qr/QZX6V3U24VVLC1" target="_blank">
               <i class="fa-brands fa-whatsapp"></i>
            </a>

</div>
            <div class="views-location">
                <div><i class="fa-solid fa-eye"></i> <span id="viewsNumber"></span></div>
                <div><i class="fa-solid fa-location-dot"></i> <span>Egypt</span></div>
            </div>
        </div>
        <div class="music-player">
            <div class="info-track">
                <i class="fa-solid fa-music"></i>
                <div class="name-range">
                    <h1>everything i wanted</h1>
                    <input type="range" id="progress" , value="0">
                </div>

            </div>

            <div class="control">
                <button id='start-audio'><i class="fa-solid fa-forward-fast"></i></button>
                <button id="stop-audio"><i class="fa-solid fa-pause"></i></button>
                <button id='start-audio'><i class="fa-solid fa-forward-fast"></i></button>

            </div>


            <audio src="/music/iwanted.mp3" autoplay loop></audio>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/3b88e46442.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/gsap@3/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <script type="module" src="/js/main.js"></script>

</body>

</html>
